<main class="row bg-color-border">
    <aside class="col-md-3">
        <div class="bg-color-content row">
            <div class="col-md-12">
                <strong>Ma recherche initiale :</strong>
                <p>{{ searchQuery }}</p>
                <p class="text-muted" style="font-size: 80%;">Attention, dans ce prototype, la recherche ne fonctionne pas. Il s'agit uniquement d'une représentation visuelle reprenant l'interface de Gallica <i class="fa fa-smile-o"></i>.</p>
            </div>
        </div>
        <br />
        <div class="bg-color-content row">
            <div class="col-md-12" style="font-size: 80%;">
                <strong>Comprendre notre prototype :</strong>
                <p class="text-muted">Nous avons cherché à représenter des éléments signifiants de pistes sonores à gauche de chaque résultat :</p>
                <ul class="text-muted">
                    <li>La taille de la bulle indique le nombre de ressources associées</li>
                    <li>L'année est celle de la publication</li>
                    <li>Ensuite vient la durée de l'enregistrement</li>
                    <li>Puis le nombre de BPM indiquant approximativement le tempo</li>
                    <li>Enfin, le "+" déroule la liste des premières ressources associées</li>
                </ul>
                <p class="text-muted">Vous pouvez également voir un spectrogramme qui vous permettra notamment de repérer des morceaux à schéma identique, ou des pistes de plus ou moins bonne qualité sonore.</p>
            </div>
        </div>
    </aside>
    <section class="col-md-9">
        <div class="bg-color-content row">
            <div class="col-md-12" ng-repeat="record in records">
                <article class="result-line row">
                    <div class="bg-light col col-md-1 text-center align-self-end" style="height: 100%; padding: 0;">
                        <div class="bg-light align-self-end">
                            <div class="bg-light text-center" style="padding: 2px;"><span data-toggle="tooltip" data-placement="top" title="Il y a {{ record.imageCount }} ressources associées"><i class="fa fa-circle" ng-class="faResources(record.imageCount)"></i></span></div>
                            <div class="bg-light text-center" style="padding: 2px;"><small data-toggle="tooltip" data-placement="top" title="Date de publication">{{ record.audioRecord.year }}</small></div>
                            <div class="bg-light text-center" style="padding: 2px;"><small data-toggle="tooltip" data-placement="top" title="Durée de la piste">{{ record.audioMetaData.duration | seconds }}</small></div>
                            <div class="bg-light text-center" ng-class="colorNoise(record.audioMetaData.noise)" style="padding: 2px;"><span data-toggle="tooltip" data-placement="top" title="Qualité du son"><i class="fa" ng-class="faNoise(record.audioMetaData.noise)"></i></span></div>
                            <div class="bg-light text-center" style="padding: 2px;"><small data-toggle="tooltip" data-placement="top" title="Nombre de battements par minute">{{ record.audioMetaData.bpm }} BPM</small></div>
                            <div class="bg-light text-center" style="padding: 2px;">
                                <button type="button" class="btn btn-primary" ng-click="displayThumbnails(record.audioRecord.id)" ng-if="displayThumbnailsValue !== record.audioRecord.id"><i class="fa fa-plus"></i></button>
                                <button type="button" class="btn btn-primary" ng-click="displayThumbnails(null)" ng-if="displayThumbnailsValue === record.audioRecord.id"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 align-self-center text-center">
                        <img src="{{ record.audioMetaData.urlSpectrum }}" style="max-height: 200px;" />
                    </div>
                    <div class="col col-md-3 align-self-center">
                        <img src="http://gallica.bnf.fr/{{ record.audioRecord.ark }}.thumbnail" />
                    </div>
                    <div class="col-md-5" style="padding: 5px">
                        <h2 class="result-line-title"><a ui-sref="musiviz.result({id: record.audioRecord.id})">{{ record.audioRecord.title }}</a></h2>
                        <p><small ng-repeat="creator in record.listCreator"><span ng-if="$index > 0">, </span>{{ creator.name }} {{ creator.date }}</small></p>
                        <div class="align-self-end ml-auto">
                            <span ng-repeat="genre in record.listGenre"> <span class="badge badge-pill badge-primary" title="Genre">{{ genre.name }}</span></span>
                            <span class="badge badge-pill badge-secondary" title="Institution">BNF</span>
                        </div>
                    </div>
                    <div style="padding: 10px;" ng-if="displayThumbnailsValue === record.audioRecord.id">
                        <span ng-repeat="imageContainer in displayThumbnailsList.listImage | limitTo:20" data-toggle="tooltip" data-placement="top" title="{{ imageContainer.title }}" ><img src="{{ imageContainer.url }}" style="max-height: 40px; display: inline-block;" /></span>
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>